@*@model SpillTracker.Models.Form

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Form</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillReportedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillReportedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillReportedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillReportedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillOngoing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillOngoing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillContained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillContained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChemicalPressurized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChemicalPressurized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillVolumeUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillVolumeUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChemicalConcentration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChemicalConcentration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillFormingPuddle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillFormingPuddle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillReachWaterSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillReachWaterSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleanupStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleanupStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChemicalTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChemicalTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChemicalTemperatureUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChemicalTemperatureUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillWidthUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillWidthUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillLengthUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillLengthUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillDepthUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillDepthUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillAreaUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillAreaUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillReportable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillReportable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindSpeedUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindSpeedUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherTemperatureUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherTemperatureUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherHumidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherHumidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherHumidityUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherHumidityUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkyConditions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkyConditions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillEvaporationRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillEvaporationRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillEvaporationRateUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillEvaporationRateUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountEvaporated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountEvaporated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountEvaporatedUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountEvaporatedUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountSpilled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountSpilled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountSpilledUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountSpilledUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chemical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chemical.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChemicalState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChemicalState.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facility.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpillSurface)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpillSurface.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stuser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stuser.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>*@
