@model SpillTracker.Models.Form

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center;">Details</h1>

<div style="text-align: center;">
    <h4>Form</h4>
    <hr />
    <div class="border border-bottom box-shadow rounded">
        <br>
            <h5>General</h5>
        <table class="table table-striped ">
            <tr>
                <th>Spill Reported By</th>
                <th>Spill Date and Time</th>
                <th>Spill Location</th>
                <th>Facility</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SpillReportedBy)</td>
                <td>@Html.DisplayFor(model => model.SpillReportedDate) @Html.DisplayFor(model => model.SpillReportedTime)</td>
                <td>@Html.DisplayFor(model => model.SpillLocation)</td>
                <td>@Html.DisplayFor(model => model.Facility.Name)</td>
            </tr>
        </table>
        <br>
        <h5>Chemical Info</h5>
        <table class="table table-striped">
            <tr>
                <th>Chemical</th>
                <th>Amount Spilled</th>
                <th>Concentration</th>
                <th>Temperature</th>
                <th>Chemical State</th>
                <th>Pressurized</th>
            </tr>
            
            <tr>
                <td>@Html.DisplayFor(model => model.Chemical.Name)</td>
                <td>@Html.DisplayFor(model => model.AmountSpilled) @Html.DisplayFor(model => model.AmountSpilledUnits)</td>
                <td>@Html.DisplayFor(model => model.ChemicalConcentration)</td>
                <td>@Html.DisplayFor(model => model.ChemicalTemperature) @Html.DisplayFor(model => model.ChemicalTemperatureUnits)</td>
                <td>@Html.DisplayFor(model => model.ChemicalState.Type)</td>
                <td>@Html.DisplayFor(model => model.ChemicalPressurized)</td>
            </tr>
        </table>
        <br>
        <h5>Weather Info</h5>
        <table class="table table-striped">
            <tr>
                <th>Sky Conditions</th>
                <th>Temperature</th>
                <th>Wind Speed</th>
                <th>Wind Direction</th>
                <th>Humidity</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SkyConditions)</td>
                <td>@Html.DisplayFor(model => model.WeatherTemperature) @Html.DisplayFor(model => model.WeatherTemperatureUnits)</td>
                <td>@Html.DisplayFor(model => model.WindSpeed) @Html.DisplayFor(model => model.WindSpeedUnits)</td>
                <td>@Html.DisplayFor(model => model.WindDirection)</td>
                <td>@Html.DisplayFor(model => model.WeatherHumidity) @Html.DisplayFor(model => model.WeatherHumidityUnits)</td>
            </tr>
        </table>
        <br>
        <h5>Spill Info</h5>
        <table class="table table-striped">
            <tr>
                <th>Spill Contained</th>
                <th>Spill Ongoing</th>
                <th>Spill Reach a Water Source</th>
                <th>Spill Forming a Puddle</th>
                <th>Spill Surface</th>
                <th>Spill Duration</th>
                <th>Cleanup Time</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SpillContained)</td>
                <td>@Html.DisplayFor(model => model.SpillOngoing)</td>
                <td>@Html.DisplayFor(model => model.SpillReachWaterSource)</td>
                <td>@Html.DisplayFor(model => model.SpillFormingPuddle)</td>
                <td>@Html.DisplayFor(model => model.SpillSurface.Type)</td>
                <td>@Html.DisplayFor(model => model.SpillDurationHours) hrs. @Html.DisplayFor(model => model.SpillDurationMinutes) min.</td>
                <td>@Html.DisplayFor(model => model.CleanupStartTime)</td>
            </tr>
        </table>
        <br>
        <h5>Additional Spill Info</h5>
        <table class="table table-striped">
            <tr>
                <th>Water Source</th>
                <th>Spill Width</th>
                <th>Spill Length</th>
                <th>Spill Depth</th>
                <th>Spill Area</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.WaterSource)</td>
                <td>@Html.DisplayFor(model => model.SpillWidth) @Html.DisplayFor(model => model.SpillWidthUnits)</td>
                <td>@Html.DisplayFor(model => model.SpillLength) @Html.DisplayFor(model => model.SpillLengthUnits)</td>
                <td>@Html.DisplayFor(model => model.SpillDepth) @Html.DisplayFor(model => model.SpillDepthUnits)</td>
                <td>@Html.DisplayFor(model => model.SpillArea) @Html.DisplayFor(model => model.SpillAreaUnits)</td>
            </tr>
        </table>
        <br>
        <h5>Extra</h5>
        <table class="table table-striped">
            <tr>
                <th>Notes</th>
                <th>Contact Notes</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Notes)</td>
                <td>@Html.DisplayFor(model => model.ContactNotes)</td>
            </tr>
        </table>
        <br>
    </div>
   

</div>
<div style="text-align: center;">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style>
    th {
        background-color: #50773e;
        color: white;
    }
</style>