@model IEnumerable<SpillTracker.Models.Form>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<!-- Button trigger Chem Chooser -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newForm">
    New Form
</button>
<!-- Modal -->
<div class="modal fade" id="newForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Select a Facility</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select type="text" asp-items="ViewBag.FacilityList" id="facilitySelector">
                </select>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                @*<a id="btnAddProcedure" class="btn btn-outline-primary" asp-controller="Forms" asp-action="Create" style="border-radius:30px;">Create</a>*@
                <input type="button" class="btn btn-primary" value="create" onclick="createNewForm()"/>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Time
            </th>
            <th>
                By
            </th>
            <th>
                Chemical Spilled
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountSpilled)
            </th>
            <th>
                Reportable?
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpillReportedTime)
            </td>
            <td>
                @item.Stuser.FirstName @item.Stuser.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chemical.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountSpilled) @item.AmountSpilledUnits
            </td>
            @if (item.SpillReportable == true)
            {
                <td>
                    Reportable
                </td>
            }
            else 
            {
                <td>
                    Not Reportable
                </td>
            }
            <td>
                @item.Facility.AddressStreet @item.Facility.AddressCity @item.Facility.AddressState
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facility.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="/js/form.js"></script>
}