@model IEnumerable<SpillTracker.Models.Form>

@{
    ViewData["Title"] = "Spill Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Spill Forms</h1>

@if (Model == null)
{
    <p>It appears you are not a member of a company or you have not yet joined any facilities within your company. Please go to the <a asp-controller="Facilities" asp-action="Index">"My Facilities"</a> page to connect to a company and facility.</p>
}
else
{
    <a asp-action="Create">Create New</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    By
                </th>
                <th>
                    Chemical Spilled
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountSpilled)
                </th>
                <th>
                    Reportable?
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Facility)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpillReportedDate) @Html.DisplayFor(modelItem => item.SpillReportedTime)
                    </td>
                    <td>
                        @item.Stuser.FirstName @item.Stuser.LastName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FacilityChemical.Chemical.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountSpilled) @item.AmountSpilledUnits
                    </td>
                    @if (item.SpillReportable == true)
                    {
                        <td>
                            Reportable
                        </td>
                    }
                    else
                    {
                        <td>
                            Not Reportable
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Facility.Name)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@section Scripts {
    <script src="/js/form.js"></script>
}