@model SpillTracker.Models.Chemical

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chemical</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aliases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aliases)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.CasNum) *@ CAS Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasNum)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.PubChemCid) *@ CID Number
        </dt>
        <dd class = "col-sm-10">
             <a href="https://pubchem.ncbi.nlm.nih.gov/compound/@Model.PubChemCid">@Html.DisplayFor(model => model.PubChemCid)</a>
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.ReportableQuantity) *@ Reportable Weight
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportableQuantity)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.ReportableQuantityUnits) *@ Units
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportableQuantityUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Density)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Density)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.DensityUnits) *@ Units
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DensityUnits)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.MolecularWeight) *@ Molecular Weight
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MolecularWeight)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.MolecularWeightUnits) *@ Units
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MolecularWeightUnits)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.VaporPressure) *@ Vapor Pressure
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaporPressure)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.VaporPressureUnits) *@ Units
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaporPressureUnits)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.CerclaChem) *@ CERCLA Chemical
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CerclaChem)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.EpcraChem) *@ EPCRA Chemical
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpcraChem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
