@model IEnumerable<SpillTracker.Models.Chemical>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CasNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubChemCid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportableQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportableQuantityUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Density)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DensityUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MolecularWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MolecularWeightUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaporPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaporPressureUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CerclaChem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EpcraChem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CasNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubChemCid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportableQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportableQuantityUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Density)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DensityUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MolecularWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MolecularWeightUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaporPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaporPressureUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CerclaChem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpcraChem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
