@model IEnumerable<SpillTracker.Models.Chemical>

@{
    ViewData["Title"] = "Index";
}
<br>
<h2 style="text-align:center">List of our current Chemicals</h2>
<br>

<div class="row">
    <div class="col">
            <div class="searchBox" style="text-align: center;">    
                <input type="text" style="width: 60%;" class="searchTextBox" id="searchTextBoxid" onkeyup="search()"   placeholder="Search for Chemical name or CAS number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search for Chemical name or CAS number'"/>    
                <label id="NotExist" style="display:none"></label>    
            </div> 
    </div>
</div>

<br>

<table class="table table-striped" id="mainTableid">
    <thead>
        <tr>
            <th style="width: 50%;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 20%; text-align: center">
                @*@Html.DisplayNameFor(model => model.*@CAS No.
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PubChemCid)
            </th>*@
            <th style="width: 20%; text-align: left">
                @*@Html.DisplayNameFor(model => model.ReportableQuantity)*@Reportable Wt.
            </th>
            <th>
                Synonyms
            </th>
            @* <th >
                @Html.DisplayNameFor(model => model.ReportableQuantityUnits)
            </th> *@
            @*<th>
                @Html.DisplayNameFor(model => model.Density)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DensityUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MolecularWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MolecularWeightUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaporPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaporPressureUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CerclaChem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EpcraChem)
            </th>*@
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td >
               <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a> 
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.CasNum)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PubChemCid)
            </td>*@
            <td style="text-align: left;">
                @Html.DisplayFor(modelItem => item.ReportableQuantity) 
                @Html.DisplayFor(modelItem => item.ReportableQuantityUnits)
            </td>
            @if (item.Aliases == null) 
            {
                <td>None Known</td>
            }
            
            else
            { 
                string[] arr = item.Aliases.Split("<br>");
                List<string> als = arr.ToList();
                als.Remove(als.Last());
                <td>
                <Select style="width: 25%; text-align:center">
                @foreach(var aliase in als) 
                {
                    <option type="submit" asp-action="Details" asp-route-id="@item.Id">@aliase</option> 
                }
                </Select>
                </td>
            }
            
            @*<td>
                @Html.DisplayFor(modelItem => item.Density)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DensityUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MolecularWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MolecularWeightUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaporPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaporPressureUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CerclaChem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpcraChem)
            </td>*@
                      
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="/js/searchbar.js"></script>
}


@* search bar info found at https://www.c-sharpcorner.com/article/custom-search-using-client-side-code/*@