@model IEnumerable<SpillTracker.Models.Chemical>

@{
    ViewData["Title"] = "Index";
}
<br>
<h2 style="text-align:center">List of our current Chemicals</h2>
<br>

<div class="row">
    <div class="col justify-content-center" style="text-align: center;">
            <div class="searchBox input-group rounded-pill border border-dark shadow-lg" style="text-align: center;">    
                <input type="text" style="text-align: center;" class="searchTextBox form-control border-0 rounded-pill" id="searchTextBoxid" onkeyup="search()"   placeholder="Search for Chemical name or CAS number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search for Chemical name or CAS number'"/>    
                <label id="NotExist" style="display:none"></label>    
            </div> 
    </div>
</div>

<br>

<div class="row" style="text-align: center;">
        <a style="width: 3.57%"; id="All" asp-method="post" asp-action="Index">All</a>
        <a style="width: 3.57%;" asp-route-l="#" id="#" asp-action="ByFirstLetter">#</a>
        <a style="width: 3.57%;" asp-route-l="A" id="A" asp-action="ByFirstLetter">A</a>
        <a style="width: 3.57%;" asp-route-l="B" id="B" asp-action="ByFirstLetter">B</a>
        <a style="width: 3.57%;" asp-route-l="C" id="C" asp-action="ByFirstLetter">C</a>
        <a style="width: 3.57%;" asp-route-l="D" id="D" asp-action="ByFirstLetter">D</a>
        <a style="width: 3.57%;" asp-route-l="E" id="E" asp-action="ByFirstLetter">E</a>
        <a style="width: 3.57%;" asp-route-l="F" id="F" asp-action="ByFirstLetter">F</a>
        <a style="width: 3.57%;" asp-route-l="G" id="G" asp-action="ByFirstLetter">G</a>
        <a style="width: 3.57%;" asp-route-l="H" id="H" asp-action="ByFirstLetter">H</a>
        <a style="width: 3.57%;" asp-route-l="I" id="I" asp-action="ByFirstLetter">I</a>
        <a style="width: 3.57%;" asp-route-l="J" id="J" asp-action="ByFirstLetter">J</a>
        <a style="width: 3.57%;" asp-route-l="K" id="K" asp-action="ByFirstLetter">K</a>
        <a style="width: 3.57%;" asp-route-l="L" id="L" asp-action="ByFirstLetter">L</a>
        <a style="width: 3.57%;" asp-route-l="M" id="M" asp-action="ByFirstLetter">M</a>
        <a style="width: 3.57%;" asp-route-l="N" id="N" asp-action="ByFirstLetter">N</a>
        <a style="width: 3.57%;" asp-route-l="O" id="O" asp-action="ByFirstLetter">O</a>
        <a style="width: 3.57%;" asp-route-l="P" id="P" asp-action="ByFirstLetter">P</a>
        <a style="width: 3.57%;" asp-route-l="Q" id="Q" asp-action="ByFirstLetter">Q</a>
        <a style="width: 3.57%;" asp-route-l="R" id="R" asp-action="ByFirstLetter">R</a>
        <a style="width: 3.57%;" asp-route-l="S" id="S" asp-action="ByFirstLetter">S</a>
        <a style="width: 3.57%;" asp-route-l="T" id="T" asp-action="ByFirstLetter">T</a>
        <a style="width: 3.57%;" asp-route-l="U" id="U" asp-action="ByFirstLetter">U</a>
        <a style="width: 3.57%;" asp-route-l="V" id="V" asp-action="ByFirstLetter">V</a>
        <a style="width: 3.57%;" asp-route-l="W" id="W" asp-action="ByFirstLetter">W</a>
        <a style="width: 3.57%;" asp-route-l="X" id="X" asp-action="ByFirstLetter">X</a>
        <a style="width: 3.57%;" asp-route-l="Y" id="Y" asp-action="ByFirstLetter">Y</a>
        <a style="width: 3.57%;" asp-route-l="Z" id="Z" asp-action="ByFirstLetter">Z</a>
</div>

<br>

<table class="table table-striped" id="mainTableid">
    <thead>
        <tr>
            <th style="width: 50%;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 20%; text-align: center">
                @*@Html.DisplayNameFor(model => model.*@CAS No.
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PubChemCid)
            </th>*@
            <th style="width: 20%; text-align: left">
                @*@Html.DisplayNameFor(model => model.ReportableQuantity)*@Reportable Wt.
            </th>
            <th>
                Synonyms
            </th>
            @* <th >
                @Html.DisplayNameFor(model => model.ReportableQuantityUnits)
            </th> *@
            @*<th>
                @Html.DisplayNameFor(model => model.Density)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DensityUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MolecularWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MolecularWeightUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaporPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaporPressureUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CerclaChem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EpcraChem)
            </th>*@
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.CasNum)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.PubChemCid)
        </td>*@
            <td style="text-align: left;">
                @Html.DisplayFor(modelItem => item.ReportableQuantity)
                @Html.DisplayFor(modelItem => item.ReportableQuantityUnits)
            </td>
            @if (item.Aliases == null)
            {
                <td>None Known</td>
            }

            else
            {
                string[] arr = item.Aliases.Split("<br>");
                List<string> als = arr.ToList();
                als.Remove(als.Last());
                <td>
                    <Select style="width: 25%; text-align:center">
                        @foreach (var aliase in als)
                        {
                            <option type="submit" asp-action="Details" asp-route-l="@item.Id">@aliase</option>

                        }
                    </Select>
                </td>
            }

            @*<td>
            @Html.DisplayFor(modelItem => item.Density)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DensityUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MolecularWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MolecularWeightUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaporPressure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaporPressureUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CerclaChem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EpcraChem)
        </td>*@

        @if (this.User.IsInRole("Admin"))
        {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>@* |
                <a asp-action="Details" asp-route-l="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-l="@item.Id">Delete</a>*@
            </td>
        }

            
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="/js/searchbar.js"></script>
}


@* search bar info found at https://www.c-sharpcorner.com/article/custom-search-using-client-side-code/*@

