@model IEnumerable<SpillTracker.Models.Chemical>

@{
    ViewData["Title"] = "Index";
}
<br>
<h2 style="text-align:center">List of our current Chemicals</h2>
<br>

@* <div class="row">
    <div class="col">
        <form asp-controller="Chemicals" asp-action="Search" method="GET">
            <div class="input-group">
                <input minlength="3" type="text" class="form-control" placeholder="Search by Chemical" required>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col">

    </div>
</div> *@


<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 50%;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 20%; text-align: center">
                @*@Html.DisplayNameFor(model => model.*@CAS No.
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PubChemCid)
            </th>*@
            <th style="width: 20%; text-align: center">
                @*@Html.DisplayNameFor(model => model.ReportableQuantity)*@Reportable Wt.
            </th>
            <th style="width: 10%;">
                @*@Html.DisplayNameFor(model => model.ReportableQuantityUnits)*@Units
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Density)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DensityUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MolecularWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MolecularWeightUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaporPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaporPressureUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CerclaChem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EpcraChem)
            </th>*@
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a> 
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.CasNum)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PubChemCid)
            </td>*@
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.ReportableQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportableQuantityUnits)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Density)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DensityUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MolecularWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MolecularWeightUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaporPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaporPressureUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CerclaChem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpcraChem)
            </td>*@
                      
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
