@model SpillTracker.Models.FacilityManagementVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
    {
        if ((User.IsInRole("FacilityManager")) ||  User.IsInRole("Employee"))
        {
            if(Model.user.CompanyId == null)
            {
            <p>@Model.user.Id</p>
            <div style="text-align: center;">
                <label class="text-danger">It appears that you are not associated with a company, please enter a company access code: </label>
                    <form asp-controller="Facilities" asp-action="SetCompany">
                        <div class="input-group">
                            <input asp-for="codes" type="text" maxlength="20">
                        </div>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-info">Connect</button>
                        </div>
                    </form>
            </div>   
            }
            else
            {
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            }
        }
        
    }



<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Street
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
               Zip
            </th>
            <th>
                Location
            </th>
            <th>
                Industry
            </th>
            <th>
                Company
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Facility) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Industry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Id)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>@* |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
