@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="row">
    <div class="col-md-4">
        @*empty for space*@
    </div>
    <div style="text-align:center">
        <h2>@ViewData["Title"]</h2>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="accountRegisterForm">
            <h4>Create a new account:</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            @*added the username field*@
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Input.Token" id="tokenInput" hidden readonly />
            </div>

            @*add roles dropdown*@
            <div class="input-group mb-3">
                <select required class="custom-select" id="inputGroupSelect01" asp-for="Input.RoleOption">
                    @*<option hidden>Role...</option>*@
                    <option value="" disabled selected>Select your Role</option>
                    <option value="1">Employee</option>
                    <option value="2">Facility Manager</option>

                </select>
                <span asp-validation-for="Input.RoleOption"></span>
            </div>

            <button type="submit"
                    class="btn btn-primary g-recaptcha"
                    data-sitekey="6LetBf0aAAAAAMdYVVnL__u9EQSsM4FbjR55bk4c"
                    data-callback='onSubmit'
                    data-action='submit'>
                Register
            </button>
        </form>
    </div>
    <div class="col-md-4">
        @*empty for space*@
    </div>
    @*<div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
    function onSubmit(token) {
        //console.log(token);
        $("#tokenInput").val(token);
        document.getElementById("accountRegisterForm").submit();
    }
</script>