@model SpillTracker.Models.FacilityChemical

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>FacilityChemical</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concentration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChemicalTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChemicalTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChemicalTemperatureUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChemicalTemperatureUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chemical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chemical.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChemicalState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChemicalState.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facility.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
