@model IEnumerable<SpillTracker.Models.FacilityChemical>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Facility Chemicals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Chemical)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Concentration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ChemicalTemperature)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.FacilityChemicals.FirstOrDefault().ChemicalTemperatureUnits)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ChemicalState)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.FacilityChemicals.FirstOrDefault().Facility)
                </th>*@
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Chemical.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Concentration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChemicalTemperature) @Html.DisplayFor(modelItem => item.ChemicalTemperatureUnits)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.ChemicalTemperatureUnits)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.ChemicalState.Type)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.Facility.Id)
                    </td>*@
                        @*<td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    
</div>

</body>
</html>
