@model IEnumerable<SpillTracker.Models.FacilityChemical>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Concentration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChemicalTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChemicalTemperatureUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chemical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChemicalState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Concentration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemicalTemperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemicalTemperatureUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chemical.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemicalState.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facility.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
